{% extends "ANTIWebBundle::layout.html.twig" %}

{% block title %} Gallerie Photo {% endblock %}

{% block content %}
    <div class="clearfix"></div>

    <div class="page_title">
        <div class="container">

            <div class="title"><h1>Gallerie Photo</h1></div>
            Architecte du transport et International.
        </div>
    </div><!-- end page title -->

    <div class="clearfix"></div>

    <div class="features_sec20">
        <div class="container">

            <div id="filters-container" class="cbp-l-filters-alignCenter">
                <button data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</button>
                <button data-filter=".terminaux" class="cbp-filter-item">Terminaux Portuaires</button>
                <button data-filter=".demenagement" class="cbp-filter-item">Transport de Marchandises</button>
                <button data-filter=".transport" class="cbp-filter-item">Transport de véhicules</button>
            </div>

            <div id="grid-container" class="cbp-l-grid-projects four">

                <ul>
                    <li class="cbp-item terminaux">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/terminaux/1.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/terminaux/1.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item terminaux">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/terminaux/2.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/terminaux/2.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item terminaux">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/terminaux/3.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/terminaux/3.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item terminaux">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/terminaux/4.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/terminaux/4.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item terminaux">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/terminaux/5.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/terminaux/5.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item terminaux">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/terminaux/6.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/terminaux/6.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item terminaux">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/terminaux/7.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/terminaux/7.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item demenagement">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/demenagement/1.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/terminaux/8.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cbp-item demenagement">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/demenagement/2.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/demenagement/2.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cbp-item demenagement">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/demenagement/3.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/demenagement/3.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cbp-item demenagement">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/demenagement/4.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/demenagement/4.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cbp-item demenagement">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/demenagement/5.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/demenagement/5.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cbp-item demenagement">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/demenagement/6.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/demenagement/6.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item transport">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/transport/1.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/transport/1.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cbp-item transport">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/transport/2.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/transport/2.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item transport">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/transport/3.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/transport/3.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item transport">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/transport/4.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/transport/4.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item transport">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/transport/5.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/transport/5.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cbp-item transport">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/transport/6.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/transport/6.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cbp-item transport">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{ asset('images/transport/7.jpg') }}" height="400" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="{{ asset('images/transport/7.jpg') }}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>



                </ul>
            </div>
            <div class="cbp-l-loadMore-text">
                <div data-href="#" class="cbp-l-loadMore-text-link"></div>
            </div>

        </div>
    </div><!-- end content area -->

    <div class="clearfix"></div>

{% endblock %}